﻿#content{
    position:relative;
}
.card{
    width:100%;
    height:100%;
    transition:all .5s;
    backface-visibility:hidden;
    position:absolute;
    top:0px;
    left:0px;
}

.card:hover{
    transition-delay:.1s;
}

.front{
    z-index:2;
    background-repeat:no-repeat;
    background-size:123px;
    background-position-y:bottom;
    background-color:#333;
    color:white;
}

.back{
    z-index:1;
    transform:rotateX(-180deg);
    background-color:#333;
    color:white;
}
.card:hover .front{
    z-index:1;
    transform:rotateX(180deg);
}

.card:hover .back{
    z-index:2;
    transform:rotateX(0deg);
}

.items .item{
    box-sizing:border-box;
    position:absolute;
    transition:left 1.2s ease-out, top 1.2s ease-out, opacity 1.2s ease-out;
}

.item{
    background-color:transparent;
    cursor:pointer;
    perspective:1000;
    z-index:1;
}

.front, .back{
    backface-visibility:hidden;
    position:absolute;
}

.items .item .card .front,
.items .item .card .back{
    border:solid 1px #ccc;
    box-sizing:border-box;
    height:100%;
    overflow:hidden;
    width:100%;
}

.items .item .card .front .overlay{
    display:table;
    height:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:middle;
    width:100%;
}