﻿.navbar-brand{
    padding:0px;
}
.logoImg{
    width:155px;
    height:52px;
}
.color-pasos-navbar {
    background-color: #2c3e50;
}
/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: relative;
    min-height: 100%;
}*/

/*body {
    margin-bottom: 60px;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #2c3e50;
}
.contenedor {
    margin-top:70px;
}
