﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Flaty.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/banderas.css" rel="stylesheet" />
</head>
<body ng-app="RegistrationModule">
    <!--NavBar-->
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="~/Content/Imagenes/logorusia2018.png" class="logoImg" />
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/fasedegrupos">Fase de Grupos <span class="color-pasos-navbar">&nbsp;1&nbsp;</span></a>
                        
                    </li>
                    <li>
                        <a href="/octavos">Octavos de Final <span class="color-pasos-navbar">&nbsp;2&nbsp;</span></a>
                        
                    </li>
                    <li>
                        <a href="/cuartos">Cuartos de Final <span class="color-pasos-navbar">&nbsp;3&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="/semifinalesfinal">Semifinales y Final <span class="color-pasos-navbar">&nbsp;4&nbsp;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Fin de Navbar-->
    <!--Contenido-->
    <div class="container contenedor">
        @RenderBody()
    </div>
    <!--Fin de contenido-->
    <!--Pie de pagina-->
    <footer class="footer">
        <center>
            <span class="text-muted">Desarrollo para Angular 2017</span>
        </center>
    </footer>
    <!--Fin de pie de pagina-->
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/App/RegistrationModule.js"></script>
    <script src="~/App/Bienvenidos/bienvenidosController.js"></script>
    <script src="~/App/fasedegrupos/fasedegruposController.js"></script>
    <script src="~/App/octavos/octavosController.js"></script>
    <script src="~/App/cuartos/cuartosController.js"></script>
    <script src="~/App/semifinalesfinal/semifinalesfinalController.js"></script>

    @RenderSection("scripts",required:false)
</body>
</html>