﻿@{
    ViewBag.Title = "Index";
}
<div ng-view>
</div>
@section scripts{
    <script type="text/javascript">
        RegistrationModule.factory("dataRepository", function () {
            return {
                listaPaises: @Html.Raw(Model.ListaPaises)
           }
        });
    </script>
}
