﻿<div class="row">
    <div class="col-md-10">
        <h1>Simulador mundial Rusia 2018</h1>
    </div>
    <div class="col-md-2">
        <img src="../../Content/Imagenes/lobo.jpg" width="120" height="60" />
    </div>
</div>
<div class="row" style="min-height:500px">
    <div class="col-md-12">
        <div id="content" class="items">
            <a href="/fasedegrupos">
                <div ng-repeat="pais in datos.listaPaises" class="item" itemscope="" style="left:0px; top:120px; width:125px; height:125px;">
                    <div class="card">

                        <div class="fron card" style="background-image:url('/Content/banderas/{{pais.codigoPais}}.jpg');">
                            <div class="overlay">
                                <div class="text-center" itemprop="name" style="vertical-align:top;padding:5px;font-size:12px;">
                                    {{pais.nombrePais}}
                                </div>
                            </div>
                        </div>

                        <div class="back card">
                            <div class="overlay text-center">
                                <div style="height:20px;">
                                    Partidos
                                </div>
                                <div>
                                    <div ng-repeat="partido in pais.listaPartidos" style="font-size:10px;padding-bottom:5px;">
                                        <div>{{partido.fechaHora + '-' + partido.estadio}}</div>
                                        <div>
                                            <span class="flagsp flagsp_{{partido.equipo1 | lowercase}}" /> vs
                                            <span class="flagsp flagsp_{{partido.equipo2 | lowercase}}" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>